.alert-container {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99999;

  animation: slideUpDown 1.5s ease-out forwards;


}
.alert-container .alert {
  border-radius: 0;   
}
