.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%, 100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
}

.update-modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	animation: fadeIn .3s ease-out forwards;
	

}

.update-modal.slideup {
	animation: fadeOut .4s ease-out forwards;
}

.update-modal.slideup .update-modal-inner {
	animation: slideUp .3s ease-out forwards;

}

.update-modal .update-modal-inner {
	position: relative;
	padding: 30px;
	background-color: white;
	text-align: left;
	border-radius: 3px;
	width: 700px;
	box-shadow: -5px 5px 20px rgba(0,0,0,.2); 
	animation: slideDown .3s ease-out forwards;
}

.update-modal h1 {
	margin-bottom: 0;
}

@keyframes fadeIn {
	0% {
		background-color: rgba(0,0,0,0);
	}

	100% {
		background-color: rgba(0,0,0,.4);
	}
}

@keyframes fadeOut {
	0% {
		background-color: rgba(0,0,0,.4);
	}

	100% {
		background-color: rgba(0,0,0,.0);
	}
}


@keyframes slideDown {
	0% {
		transform: translateY(-50px);
	}

	100% {
		transform: translateY(0);

	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0);

	}

	100% {
		transform: translateY(-50px);

	}
}

@keyframes slideUpDown {
	0% {
		transform: translateY(-50px);
	}

	25% {
		transform: translateY(0);

	}

	75% {
		transform: translateY(0);
		opacity: 1;

	}

	100% {
		transform: translateY(-50px);
		opacity: 0;

	}
}
